*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px ;

}
#first{
    display: grid;
    background-color: red;

}