*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
#one{
    height: 500px;
    width: 700px;
    background-color: rgb(246, 242, 242);
    position: relative;
    left: 300px;
    top: 50px;
}
#red{
    position: absolute;
    left: 300px;
    top: 200px;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}
