*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
.container{
    height: 400px;
    width: 400px;
    background-color: red;
    border: solid black;
}
@media screen and (max-width:600px){
    .container{
        background-color: yellow;
        font-size: large;
        
    }
    
}