* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: aquamarine;
}

img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
}
